html {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: rgba(255, 255, 255, 0.87);
  background-color: black;
  /* url('https://wallpapercave.com/wp/wp3756449.jpg') */
  background-size: cover;
}

nav {
  display: flex;
  justify-content: space-around;
  height: 40px;
  align-items: middle;
}

a {
  color: lightblue;
}

nav a {
  color: rgba(255, 255, 255, 0.87);
  text-decoration: 0;
  font-size: larger;
  font-weight: bold;
}

nav input {
  width: 10vw;
  height: 25px;
  margin:0;
  padding: 0;
  border: 0;
  border-radius: 2px;
  margin-right: 2px;
}

nav button {
  height: 52%;
  border-radius: 2px;
  border: 0;
}

.searchbutton {
  height: 25px;
  width: 50px;
  border-radius: 2px;
  border: 0;
  margin: 0;
  padding: 0;
}

.searchform {
  display:flex;
}

h1, .homeh2 {
  margin: 0;
}

.searchelem {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  font-size: .8em;
  width: 18vw;
  height: 55vh;
  border: 0;
}

.searchimg {
  width: 18vw;
  max-height: 48vh;
}

.searchlist {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  justify-content: space-around;
}

.gamepagegame {
  
}

.gameheader {
  float: right;
  margin: 30px;
  margin-top: 0px;
  margin-left: 40px;
}

.content {
  margin-top: 5vw;
  margin-left: 10vw;
  margin-right: 25vw;
}

.mainimg {
  width: 20vw;
}

.relatedimg {
  display: flex;
  flex-direction: column;
  width: 20vw;
}

.maincontainer {
  height: 94vh;
  position: relative;
}

.mainsearch {
  margin: 0;
  height: 23vh;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

input:focus {
  outline: none;
}

.mainsearchbar {
  height: 4vh;
  width: 30vw;
  border-radius: 2px;
  font-weight: 50;
  border: 0;
  font-size: 2vh;
  opacity: 1;
}

.mainsearchbar::placeholder {
  font-size: 2vh;
  opacity: .7;
}

.backgroundimg {
  background-image: url('https://wallpapercave.com/wp/wp3756449.jpg');
  background-size:cover;
}

.grow { 
  transition: all .2s ease-in-out; 
}
  
.grow:hover { 
  transform: scale(1.1); 
}

.signlogcontainer {
  height: 60vh;
  position: relative;
}

.signlog {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.signloginput {
  display: flex;
  height: 50px;
  width: 400px;
  border-radius: 2px;
  border: 0;
  font-size: large;
  opacity: 1;
  margin: 5px;
}

.signlogbutton {
  height: 40px;
  width: 95px;
  border-radius: 2px;
  border: 0;
  font-size: 22px;
  font-weight: 25;
  opacity: 1;
  margin: 5px;
}

.signlogtitle {
  margin: 5px;
  font-weight: 100;
}

.wishlistbutton {
  height: 40px;
  width: 150px;
  border-radius: 2px;
  border: 0;
  background-color: white;
  font-size: 16px;
}

.wishlistnoaccount {
  font-weight: 100;
}
